/* __GLOBAL__*/

:root {
  --accent-color: #c5ac2d;
  --dark-color: #1b1818;
  --main-white: #fefefe;
  --brand-color: #332208;
}

/* font-family: 'Fira Sans','sans-serif'; */

body {
  font-family: "Roboto Condensed", "sans-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: var(--dark-color);
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  background: var(--accent-color);
  color: var(--main-white);
  text-transform: uppercase;
}

/* HEADER */

.header {
  background-color: var(--brand-color);
  padding: 20px 0;
  color: var(--main-white);
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-icon {
  width: 60px;
  height: 60px;
}

.nav {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: var(--main-white);
}

.nav-list {
  display: flex;
}

.nav-list-item {
  position: relative;
  margin: 0 15px;
}

.nav-list-item::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--main-white);
  transition: 0.4s;
}

.nav-list-item:hover::after {
  width: 100%;
}

/* __HERO__*/

.hero {
  padding: 50px 0 100px;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
}

.hero__texts {
  max-width: 600px;
  text-align: center;
}

.hero__title {
  font-family: "Fira Sans", "sans-serif";
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 20px;
}

.hero__text {
  font-size: 24px;
  margin-bottom: 63px;
}

.hero__app-btn {
  padding: 16px 18px;
  margin-bottom: 104px;
}

.peculiarity__text {
  max-width: 130px;
}

.peculiarity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
}

.hero__texts {
  max-width: 600px;
  text-align: center;
}

.hero__title {
  font-family: "Fira Sans", "sans-serif";
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 20px;
}

.hero__text {
  font-size: 24px;
  margin-bottom: 63px;
}

.hero__app-btn {
  padding: 16px 18px;
  margin-bottom: 104px;
}

.peculiarity__text {
  max-width: 130px;
}

.peculiarity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.peculiarity__item {
  border: 1px solid var(--brand-color);
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.4s;
}

.peculiarity__item:hover {
  transform: scale(1.25);
}

.peculiarity__item + .peculiarity__item {
  margin-left: 50px;
}

.hero__indicator {
  display: block;
  text-align: center;
  font-family: "Fira Sans", "sans-serif";
  font-weight: 500;
  margin-bottom: 155px;
}

.hero__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__item + .hero__item {
  margin-left: 20px;
}

.hero__link {
  display: block;
  border-bottom: 1px solid var(--dark-color);
}

/* Rent Terms */

.rent-terms-section {
  padding: 100px 0;
  background-color: var(--main-white);
}

.rent-terms-btn {
  padding: 15px 20px;
}

.rent-terms-section > .container {
  display: flex;
}

/* .rent-terms-first-box {
  margin-right: 50px;
} */

.rent-terms-title {
  margin-bottom: 30px;

  font-family: "Fira Sans";
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: var(--dark-color);
}
.rent-terms-text {
  margin-bottom: 20px;
  width: 300px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;

  color: var(--dark-color);
}

.rent-terms-btn {
  margin-top: 10px;
}

.rent-terms-list {
  display: flex;
  justify-content: space-between;
}

.rent-terms-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: 50px;
  width: 250px;
  height: 350px;
  border: 1px solid #332208;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
  transition: 0.4s;
}

.rent-terms-list-item:hover {
  transform: scale(1.25);
}

.rents-item-list-item-number {
  margin-bottom: 8px;
  font-family: "Fira Sans";
  font-weight: 500;
  font-size: 96px;
  line-height: 1.19;
  color: var(--dark-color);

  opacity: 0.05;
}

.rents-item-list-item-title {
  margin-bottom: 27px;
  max-width: 176px;
  font-family: "Fira Sans";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: var(--dark-color);
}

.rents-item-list-item-text {
  max-width: 171px;
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: var(--dark-color);
}

/* __BENEFITS__*/

.benefits__title {
  font-family: "";
  font-weight: 500;
  font-size: 24px;
  font-family: "Fira Sans", "sans-serif";
  margin-bottom: 21px;
}

.benefits__inner {
  display: flex;
  justify-content: center;
}

.benefits__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.benefits__item {
  position: relative;
  padding-right: 26px;
}

.benefits__item:not(:last-child) {
  margin-bottom: 27px;
}

.benefits__item::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  background: var(--brand-color);
  border-radius: 50%;
}

.benefits__texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
}

.benefits__link {
  position: relative;
  text-align: center;
  align-self: center;
  padding: 6px 34px 6px 64px;
  max-width: 200px;
}

.benefits__icon {
  position: absolute;
  top: 10px;
  left: 35px;
}

/* Reviews */

.reviews {
  padding: 100px 0;
  background-color: var(--brand-color);
}

.reviews-title {
  margin-bottom: 70px;
  font-family: "Fira Sans";
  font-size: 24px;
  line-height: 1.2;
  color: var(--main-white);
}

.reviews-list {
  display: flex;
  justify-content: space-between;
}

.reviews-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 45px 30px;
  width: 270px;
  height: 300px;
  border: 1px solid var(--accent-color);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.4s;
}

.reviews-list-item:hover {
  transform: scale(1.25);
}

.reviews-name {
  font-family: "Fira Sans", "sans-serif";
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: var(--main-white);
}

.reviews-text {
  display: flex;
  align-items: center;
  height: 100%;

  font-family: "Roboto Condensed";
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--main-white);
}

/* Contact Us */

.contact-us,
.benefits {
  padding: 100px 0;
  background-color: var(--main-white);
}

.contact-us > .container {
  display: flex;
  justify-content: space-between;
}

.contact-us-form-box {
  margin-top: 74px;
  margin-left: 90px;
}

.contact-us-title {
  margin-bottom: 5px;
  font-family: "Fira Sans", "sans-serif";
  font-size: 24px;
  color: var(--dark-color);
}

.contact-us-text {
  margin-bottom: 50px;
  font-family: "Roboto Condensed" "sans-serif";
  font-size: 16px;
  color: var(--dark-color);
}

.contact-us-form {
  display: flex;
  flex-direction: column;
}

.contact-us-input {
  margin-bottom: 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.contact-us-input:focus-visible {
  outline: none;
}

.contact-us-btn {
  margin: 0 auto;
  border: none;
  font: inherit;
  padding: 16px 36px;
  cursor: pointer;
}

.peculiarity__item + .peculiarity__item {
  margin-left: 50px;
}

.hero__indicator {
  display: block;
  text-align: center;
  font-family: "Fira Sans", "sans-serif";
  font-weight: 500;
  margin-bottom: 155px;
}

.hero__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__item + .hero__item {
  margin-left: 20px;
}

.hero__link {
  display: block;
  border-bottom: 1px solid var(--dark-color);
}

/* Footer */

.footer {
  padding: 75px 0;
  background-color: var(--brand-color);
  color: var(--main-white);
}

.footer-btn {
  padding: 16px 19px;
  height: 50px;
}

.footer-nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;
}

.footer-nav-list {
  display: flex;
}

.footer-nav-list-item {
  margin: 0 15px;
}

.footer-socials-list {
  display: flex;
  justify-content: center;
}

.footer-socials-list-item:not(:last-child) {
  margin-right: 30px;
}

.footer-icon {
  width: 30px;
  height: 30px;
}
